#testDiv1 {
  width: 35%;
  font-size: 1em;
  padding: 1em;
  margin: 2em;
}

#testDiv2 {
  width: 35%;
  font-size: 1em;
  padding: 1em;
  margin: 2em;
}


#list1 li {
  padding: 10px;
  border-color: black;
  border-width: thick;
  border-width: 200px;
  margin: 20px;
  border-style: dashed;
  display: inline-block;
}
